extends layout
link(href='/fasterthan/foo.css', rel='stylesheet')

block content
	h1= title
	form#formTime(name="timeform",method="post",action="/fasterthan/check_zero60")
		p. 
			enter time as numerals and (optional) decimal point only
		p
			input#inputTime(type="text", placeholder="time", name="inputTime")
			button#btnSubmit(type="submit") submit
