extends layout

block content
  h1= title
  p 
  a(href="/fasterthan/check_zero60") Where does my car rank?
  p 
  a(href="/fasterthan/scheck_zero60") What cars are faster than mine?
  p 
  a(href="/fasterthan/show_zero60") See the entire database of 0-60 times.
