extends layout
link(href='/fasterthan/foocss.txt', rel='stylesheet')

block content
	h1= title
	form#formTime(name="timeform",method="post",action="/fasterthan/scheck_zero60")
		input#inputTime(type="text", placeholder="time", name="inputTime")
		button#btnSubmit(type="submit") submit
