extends layout
link(href='/foocss.txt', rel='stylesheet')

block content
	h1= title
	form#formTime(name="timeform",method="post",action="/scheck_zero60")
		input#inputTime(type="text", placeholder="time", name="inputTime")
		button#btnSubmit(type="submit") submit
